<div class="container">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <i class="fas fa-xbox"></i> Skin-Site
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li class="active"><a ng-href="#">Home</a></li>
                    <li><a ng-href="#">About</a></li>
                    <li><a ng-href="#">Contact</a></li>
                </ul>

            </div>

        </div>
    </nav>
</div>