<div class="container main-block">
  <div class="container col-8">
    <h3>Order</h3>

    <div>
      Замовлення буде відправлене Новою Поштою на вибране відділення.
      Оплата накладним платежем.
    </div>
    <br>

    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="input-group mb-2">
        <div class="input-group-prepend" for="fullName">
          <span class="input-group-text width-7">ПІБ</span>
        </div>
        <input
          data-toggle="popover"
          data-content="ПІБ не може бути порожнім"
          type="text"
          class="form-control"
          placeholder="Прізвище Ім'я По батькові"
          formControlName="fullName"
        />
      </div>



      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text width-7">Телефон</span>
        </div>

        <input
          data-toggle="popover"
          data-content="Номер повинен бути у форматі (XXX) XXX-XX-XX"
          type="text"
          class="form-control"
          placeholder="(0__) ___-__-__"
          formControlName="phone"
        />
      </div>

      <div class="mb-2">
        <app-dropdown
          data-toggle="popover"
          data-content="Почніть вводити назву міста та оберіть зі списку"
          input-name="Місто"
          [getValue]="getValue"
          [getService]="getCities"
          (selected)="onCitySelected($event)"
          (cleared)="selectComp.clear()"
          formControlName="city"
        >
        </app-dropdown>
      </div>

      <div class="mb-2">
        <app-select #selectComp
          data-toggle="popover"
          data-content="Оберіть віддеління зі списку"
          data-selector="[rel=popover]"
          input-name="Відділення"
          [getValue]="getValue"
          [getService]="getOutlets"
          [forRoot]="getId(selectedCity)"
          formControlName="outlet"
        >
        </app-select>
      </div>

      <div class="mat-app-background basic-container">
        <button type="submit" class="btn btn-primary">
          Підтвердити
        </button>
      </div>


      <div>
        <h3 [hidden]="!orderResult.ready" class="alert alert-success">
          {{ orderResult.message }}
        </h3>
      </div>

      <div class="mt-2" *ngFor="let error of orderErrors">
        <h5 class="alert alert-danger">
          {{ error }}
        </h5>
      </div>
    </form>
  </div>
</div>
