<div class="container p-1 main-block">
  <div class="container col-8">
  <h3>Кошик</h3>
    <table class="table table-striped shadowed">
      <thead>
        <tr>
          <th scope="col">Назва</th>
          <th scope="col">Розмір</th>
          <th scope="col">Ціна</th>
          <th scope="col">Кількість</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.product.name }}</td>
          <td>{{ item.product.size }}</td>
          <td>{{ item.product.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>
            <button
              type="button"
              class="btn btn-sm btn-outline-info rounded-circle"
              (click)="remove(item.product)"
            >
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th align="right" colspan="4">Разом</th>
          <td>
            <strong>{{ total }}  ₴</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row justify-content-center margin-top">
      <br />
      <button type="button" class="btn btn-success" [routerLink]="['/order']">
        Замовлення
      </button>
    </div>
  </div>
</div>
