<div class="container main-block">
  <div class="row justify-content-center">
    <div class="card col-3 shadowed" *ngFor="let product of products">
      <img class="card-img-top" src="./assets/images/{{product.image}}" alt="Card image cap" style="margin-top: 1rem;">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p class="card-text"><strong>Price: </strong>{{product.price}} ₴</p>
        <p class="card-text"><strong>Size: </strong>{{product.size}}</p>
        <div class="container">
          <div class="row justify-content-center">
            <a [routerLink]="['/cart', { id:product.id }]" class="col-6 btn btn-secondary" style="width: max-content"
              onclick="">В Корзину</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center margin-top">
    <br>
    <button type="button" class="btn btn-success" [routerLink]="['/cart']">Корзина</button>
  </div>
</div>
