<div class="container" style="margin-top: 1rem;">

  <div class="card col-4">
    <img class="card-img-top" src="./assets/images/product-1-400.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Lyophilized pig skin Xenografts</h5>
      <p class="card-text">High quality Lyophilized pig skin from Institute of biomedical technologies</p>
      <p class="font-weight-light text-center">S size</p>
      <div class="container">
        <div class="row justify-content-center">
          <a href="#" class="col-4 btn btn-secondary btn-margins" onclick="">To Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
