.input-group-text {
  width: 5rem;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.list-group{
  position: absolute;
  width: 100%;
  z-index:10;
}
