/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ffffff;
}

.navbar-light {
  background-color: #cdf5ff;
}

.navbar-gray {
  background-color: #f2f3f5;
  color: #757e92;
}

.navbar-gray .navbar-nav .nav-link {
  color: #757e92;
}

.card {
  background-color: #f1ffff;
}

.main-block  {
  background: rgb(216,255,251);
  background: linear-gradient(0deg, rgba(216,255,251,0) 0%, rgba(230,250,255,1) 78%);
  height: 80vh;
}

.main-block table {
  background-color: rgb(249, 252, 253)
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group-text.width-7{
  width: 7rem;
}

.ng-touched.ng-invalid {
  border: 1px solid red;
}

.popover {
  background: #f8d7da;
}

.popover > .arrow:before {
  border-top-color: #f8d7da;
}
.popover > .arrow:after {
  border-top-color: #f8d7da;
}

.btn-circle.btn-sm {
  width: 20px;
  height: 20px;
  padding: 1px 0px;
  border-radius: 11px;
  font-size: 11px;
  text-align: center;
}

.like-btn {
  cursor: pointer;
  transition-duration: 0.3s;
}

.like-btn.disabled {
  cursor: default;
  color: rgb(209, 209, 209) !important;
}

.like-btn:hover {
  color: #08bdeb;
}

.h225 {
  height: 225px;
}

/* Table */

.table-admin {
  background: #fff;
  margin: 0px 10px 10px 10px;
}

.table-controls:first-of-type a{
  margin-left: 0px;
}

.table-controls > *{
  margin: 0px 10px 5px 10px;
}

.table-controls .button {
  border:1px solid #dee2e6;
  background-color: #f2f3f5;
	display:inline-block;
	cursor:pointer;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.table-controls .button:hover {
  background-color: #757e92;
  border:1px solid #757e92;
  box-shadow: #757e92 0px 0px 5px;
  /* border: 1px transparent; */
  transition-duration: 0.2s;
}

.btn-plus {
  width: 75%;
  height: 75%;
  display:inline-block;
  position: absolute;
  top: 12.5%;
  left: 12.5%;
  background: linear-gradient(to bottom, transparent 45%, #757e92 45%, #757e92 55%,  transparent 55%),
  linear-gradient(to right, transparent 45%, #757e92 45%, #757e92 55%, transparent 55%);
}

.table-admin .table-controls .button:hover .btn-plus {
  background: linear-gradient(to bottom, transparent 45%, #f2f3f5 45%, #f2f3f5 55%,  transparent 55%),
  linear-gradient(to right, transparent 45%, #f2f3f5 45%, #f2f3f5 55%, transparent 55%);
  transition-duration: 0.2s;
}

.table-admin table {
  width: 100%;
  border: 1px solid;
  border-color: #dee2e6;
}

.table-admin thead {
  background: #f2f3f5;
}

.table-admin thead tr th {
  color: #757e92;
  text-transform: uppercase;
  padding: 14px 10px;
}

.table-admin tbody tr td {
  padding: 14px 10px;
  border-bottom: #eaecee solid 1px;
}

.table-admin tbody tr:hover {
  background: #f2f3f56c;
  cursor: pointer;
}

.table-admin .checked {
  background: #fefaf2;
}
