/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ffffff;
  color: #8D8E8A;
}

nav {
  background-color: #5edfff;
}

.card {
  margin: .2rem;
  background-color: #b2fcff;
}

.main-block  {
  /* margin-top: 1rem; */
  padding: 1rem;
  background-color: #ffffff;
  color: #8D8E8A;
  height: 80vh;
}

.main-block table {
  background-color: rgb(249, 252, 253)
}

.margin-top {
  margin-top: 1rem;
}

.btn {
  background-color: #3e64ff;
}

.btn-rounded {
  border-radius: 50%;
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.input-group-text {
  width: 5rem;
}

.ng-touched.ng-invalid {
  border: 1px solid red;
}
