/* You can add global styles to this file, and also import other style files */
body {
  background-color: #ffffff;
}

.navbar-light {
  background-color: #cdf5ff;
}

.navbar-gray {
  background-color: #f2f3f5;
  color: #757e92;
}

.navbar-gray .navbar-nav .nav-link {
  color: #757e92;
}

.card {
  background-color: #f1ffff;
}

.main-block  {
  background: rgb(216,255,251);
  background: linear-gradient(0deg, rgba(216,255,251,0) 0%, rgba(230,250,255,1) 78%);
  height: 80vh;
}

.main-block table {
  background-color: rgb(249, 252, 253)
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group-text.width-7{
  width: 7rem;
}

.ng-touched.ng-invalid {
  border: 1px solid red;
}

.popover {
  background: #f8d7da;
}

.popover > .arrow:before {
  border-top-color: #f8d7da;
}
.popover > .arrow:after {
  border-top-color: #f8d7da;
}

.btn-circle.btn-sm {
  width: 20px;
  height: 20px;
  padding: 1px 0px;
  border-radius: 11px;
  font-size: 11px;
  text-align: center;
}

.like-btn {
  cursor: pointer;
  transition-duration: 0.3s;
}

.like-btn.disabled {
  cursor: default;
  color: rgb(209, 209, 209) !important;
}

.like-btn:hover {
  color: #08bdeb;
}

.h225 {
  height: 225px;
}

.tab-body {
  padding: 0px 10px 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

/* Table */

.table-admin {
  background: #fff;
}

.table-controls:first-of-type a{
  margin-left: 0px;
}

.table-controls > *{
  margin: 0px 10px 10px 10px;
}

.table-controls .button {
  border:1px solid #dee2e6;
  background-color: #f2f3f5;
  color: #757e92;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  transition-duration: 0.15s;
}

.table-controls .button:hover {
  background-color: #757e92;
  color: #f2f3f5;
  border:1px solid #757e92;
  box-shadow: #757e92 0px 0px 5px;
  transition-duration: 0.15s;
}

.table-controls .button:active{
  background-color: #f2f3f5;
  color: #757e92;
  box-shadow: inset 0px 0px 10px;
}

.button.disabled {
  opacity: .65;
  pointer-events: none;
}

.button.disabled:hover {
  background-color: #f2f3f5;
  color: #757e92;
}


.table-admin table {
  width: 100%;
  border: 1px solid;
  border-color: #dee2e6;
}

.table-admin thead {
  background: #f2f3f5;
}

.table-admin thead tr th {
  color: #757e92;
  text-transform: uppercase;
  padding: 14px 10px;
}

.table-admin tbody tr td {
  padding: 14px 10px;
  border-bottom: #eaecee solid 1px;
}

.table-admin tbody tr:hover {
  background: #e9e9ff6c;
  cursor: pointer;
}

.table-admin .selected {
  background: #dbdde0;
  box-shadow: #757e92 0px 0px 5px;
}

.table-admin .selected td{
  background: #dbdde0;
  border-bottom: none;
}

.image-area {
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  text-align: center;
  padding: .75rem;
  margin-top: 2rem;
}

.image-area img {
  border: 1px solid #dee2e6;
}

.img-button {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 45%;
  opacity: 0;
  transition: .2s;
}

.img-button a {
  border: 1px solid #545b69;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.5rem;
  padding: 0.5rem;
  color: #f2f3f5;
  background-color: #757e92;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px #757e92;
  transition: .2s;
}

.img-button a:hover {
  box-shadow: 0px 0px 20px 0px #757e92;
  transition: .2s;
}

.image-element {
  display: inline-block;
}

.image-area:hover .image-element {
  opacity: .5;
  transition: .5s;
}

.image-area:hover .img-button {
  opacity: 1;
  transition: .5s;
}

.img-placeholder {
  width: 400px;
  height: 225px;
  position: relative;
  box-shadow: inset 0px 0px 20px 5px #dee2e6;
}

.img-placeholder h3 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "Century Gothic", "Helvetica", sans-serif;
  font-weight: bold;
  color: #757e92;
  text-shadow: 2px 2px 0px rgb(211, 211, 211);
}

.img-cropper {
  padding: .75rem;
  border: 1px solid #dee2e6;
  text-align: center;
}

ly-img-cropper {
  margin-top: 0.24rem;
}

.img-cropper-wrapper {
  display: inline-block;
}
